version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "uv"
    directory: "/api"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/api"
    schedule:
      interval: "weekly"
